:root {
	--primary-color: #264653;
	--secondary-color: #96ceb4;
	--text-color: #f4f4f4;
	--table-color: #f4f4f4;
	--cell-empty-color: #f8f8f8;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Montserrat", "sans-serif";
	line-height: 1.6;
	background: var(--table-color);
	color: #333;
}

/* Header */
header {
	background: var(--primary-color);
	color: var(--text-color);
	padding-top: 20px;
	min-height: 70px;
	border-bottom: var(--secondary-color) 4px solid;
}

header #title h1 {
	font-size: 60px;
	margin: 0;
	text-align: center;
}

header .highlight {
	color: #2a9d8f;
	font-weight: bold;
}

header a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header .transparent {
	color: rgba(255, 255, 255, 0.253);
}

/* Menu Options */
.menu {
	text-align: center;
}

/* Dropdown Button */
.dropbtn {
	background-color: var(--primary-color);
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
	background-color: var(--secondary-color);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown button {
	color: #fff;
	text-decoration: none;
	text-transform: lowercase;
	font-size: 18px;
	border-radius: 5px;
}

.dropdown a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	text-align: center;
	background-color: #f1f1f1;
	width: 200px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	margin-top: 4px;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
	display: block;
}

/************** TABLE **************/
#board {
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	padding: 1px;

	color: #444;
	background: var(--cell-empty-color);

	width: 700px;
	height: 700px;

	/* border: 2px solid #cecece; */
}

#board td {
	border-left: 2px solid #ccc;
	border-bottom: 2px solid #ccc;

	cursor: pointer;
	border-radius: 5px;
}

#board tr:first-child td {
	border-top: 2px solid #ccc;
}

#board td:last-child {
	border-right: 2px solid #ccc;
}

/*Cells*/
#board td {
	padding: 13px;
}

#board td:hover {
	background: #ececec;
}
#board td.empty {
	background-color: var(--cell-empty-color);
}

#board td.wall {
	background-color: #355c7d;
}

#board td.start {
	background-color: #93a0d6;
}

#board td.end {
	background-color: #ff9aa2;
}

#board td.searched {
	background-color: #96ceb4;
}

#board td.path {
	background-color: #ffdee1;
}
